.trandingItems {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
}
.everyTitle {
  max-width: 200px;
  font-size: 28px;
  color: rgb(81, 78, 78);
  margin: 0, auto;
  text-align: center;
}
.everyItem {
  list-style: none;
  text-decoration: none;
}
.everyImg {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
